html {
    background-color: #6c6d74;
    background-image: url('assets/bernard-hermant-XFCei-F4mjg-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
}

#logo {
    text-align: center;
    max-width: 100%;
    height: auto;
    width: auto;
}

#gotostart {
    max-width: 20%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

#gotostart:hover {
    color: #FFF;
    text-decoration: underline;
}

nav {
    float: right;
    max-width: 80%
}

a:hover#menu {
    border-radius: 4px 4px 0 0;
}

#logo {
    margin: 0px;
    float: left;
    width: 100px;
    height: 100px;
    background-image: url() no-repeat center;
}

header {
    background-color: #09606a;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100%;
    opacity: 80%;
}

#owner {
    color: #f0f0f0;
    margin-bottom: 0px;
    padding: 0%;
    position: inherit;
    bottom: 0;
}

#logo_img {
    text-align: center;
    max-width: 100%;
    height: auto;
    width: auto;
}

#main_cont {
    padding-top: 110px;
    overflow-y: auto;
}

#last {
    background-color: #09606a;
    width: 100%;
    height: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100%;
    opacity: 80%;
}

img {
    text-align: center;
    max-width: 100%;
    height: auto;
    width: auto;
}


#main_cont {
    max-height: 75%;
    width: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.seperator {
    margin: 3% 0;
    height: 7px;
    width: 100%;
    background-color: #09606a;
    visibility: hidden;
}


/* Add recipe */

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

#addplbt {
    background-color: #09606a;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#addplbt:hover {
    background-color: #09606a;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    overflow: auto;
    max-height: 80%;
}


/* tables */

td,
th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #487277;
    color: white;
}

.table {
    table-layout: fixed;
    width: 100%;
}

.table td {
    width: 100%;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table thead th {
    text-align: center;
    width: auto;
}

.add_btn {
    background-color: #6e8594;
    color: white;
    padding: 8px;
    font-size: 0.8vw;
    border: none;
    cursor: pointer;
    position: relative;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.add_btn:hover {
    background-color: #6e8594c2;
}

#healthdiv {
    grid-area: htl;
}

#prosdiv {
    grid-area: pr;
}

#consdiv {
    grid-area: cn;
}
#ingrdiv {
    grid-area: ing;
}
#procdiv {
    grid-area: stp;
}

#infoTbs {
    display: grid;
    grid-gap: 5px;
    grid-template-areas: 'ing stp'
}

#factTbs {
    display: grid;
    grid-gap: 5px;
    grid-template-areas: 'htl pr cn'
}

header, footer{
    z-index:100;
}

@media all and (max-width: 1000px) {
    #seperatorhtl {
        visibility: visible;
    }
    #factTbs {
        grid-template-areas: 'htl htl' 'pr cn'
    }
}

@media all and (max-width: 600px) {
    .seperator {
        visibility: visible;
    }
    #infoTbs {
        grid-template-areas: 'ing' 'stp'
    }
    #factTbs {
        grid-template-areas: 'htl' 'pr' 'cn'
    }
}